meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, maximum-scale=1, user-scalable=no")

title Currency App

link(rel="stylesheet", href="./assets/libs/angular-material/angular-material.css")

// material design icons
link(rel="stylesheet", href="./assets/libs/mdi/css/materialdesignicons.min.css" media="all" type="text)css")

link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")

link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")