<!-- Angular-Resources -->
script(src="./assets/libs/angular-animate/angular-animate.js")
script(src="./assets/libs/angular-ui-router/release/angular-ui-router.min.js")
script(src="./assets/libs/angular-aria/angular-aria.js")
script(src="./assets/libs/angular-material/angular-material.js")