script(src="./assets/_gulp/js/build/app.min.js")

// config
//- script(src="../app/config/app.modules.js")
//- script(src="../app/config/app.config.js")
// Modules
//- script(src="../app/components/components.module.js")
//- script(src="../app/views/views.module.js")
//- script(src="../app/shared/shared.module.js")
// Controllers
//- script(src="../app/shared/services/default.fac.js")
//- script(src="../app/shared/services/weather-service.fac.js")
//- script(src="../app/shared/services/weather-values.service.js")
//- script(src="../app/views/home/home.ctr.js")
//- script(src="../app/components/navigation/nav.com.js")